.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

body {
  background-color: lightgray;
}

.todo-container {
  min-width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 10px;
  background-color: white;
  padding: 30px;
}

.todo-container__input {
  width: 250px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid gray;
}

.todo-container__button {
  background-color: green;
  color: white;
  border: 0;
  padding: 10px;
  border-radius: 5px;
}

.render-container {
  display: flex;
  justify-content: space-around;
}

.render-container__list {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;

  li {
    min-width: 150px;
    background-color: ghostwhite;
    padding: 10px;
    border-radius: 5px;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
  }

  button {
    color: white;
    border: 0;
    padding: 5px 10px;
    border-radius: 5px;
  }
}
